<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.shop.mapper.AdminMapper">
    <!-- find方法的实现 -->
    <select id="findAll" resultMap="findAll">
        select id, admin_name, admin_password, admin_level
        from t_admin
    </select>
    <!-- 配置数据表与实体类，使命名一致 -->
    <resultMap id="findAll" type="com.neuedu.shop.pojo.Admin">
        <id column="id" property="id" />
        <result column="admin_name" property="name" />
        <result column="admin_password" property="password" />
        <result column="admin_level" property="level" />
    </resultMap>

    <delete id="delete" parameterType="com.neuedu.shop.pojo.Admin">
        delete from t_admin
        where id=#{id}
    </delete>

    <update id="resetPassword" parameterType="com.neuedu.shop.pojo.Admin">
        update t_admin
        set admin_password=md5('admin')
        where id=#{id}
    </update>

    <!-- 更新 -->
    <update id="update" parameterType="com.neuedu.shop.pojo.Admin">
        update t_admin
        set admin_password=md5(#{password})
        where id=#{id}
    </update>

    <insert id="addAdmin" parameterType="com.neuedu.shop.pojo.Admin">
        insert into t_admin
        values (null, #{name}, md5(#{password}), '0')
    </insert>

    <!-- 验证登陆 -->
    <select id="findByName" parameterType="string" resultMap="findAll">
        select id, admin_name, admin_password, admin_level
        from t_admin
        where admin_name=#{name}
    </select>

    <!-- 统计 admin 个数 -->
    <select id="countAdmin" resultType="int">
        SELECT count(id) FROM t_admin
    </select>

    <!-- 查找 -->
    <select id="findById" parameterType="int" resultMap="findAll">
        select id, admin_name, admin_password, admin_level
        from t_admin
        where id=#{id}
    </select>
</mapper>
