<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.shop.mapper.ProductMapper">

    <sql id="basesql" >
        select
            p.id pid,
            product_name pname,
            product_description pdesc,
            product_normalprice pnormalprice,
            product_memberprice pmemberprice,
            product_imgpath pimgpath,
            product_date pdate,
            product_categoryid pcid,
            c.id cid,
            category_name cname,
            category_description cdesc,
            category_parentId cpid,
            leaf cleaf,
            grade cgrade
        from t_product p join t_category c
        on p.product_categoryid = c.id
    </sql>

    <!-- 表连接查询 t_product 与 t_category 进行连接 -->
    <select id="findAll" resultMap="findAll">
        <include refid="basesql" />
    </select>

    <!-- 配置数据表与实体类，使命名一致 -->
    <resultMap id="findAll" type="com.neuedu.shop.pojo.Product">
        <id column="pid" property="id" />
        <result column="pname" property="name" />
        <result column="pdesc" property="desc" />
        <result column="pnormalprice" property="normalprice" />
        <result column="pmemberprice" property="memberprice" />
        <result column="pimgpath" property="imgpath" />
        <result column="pdate" property="pdate" />
        <association property="category" javaType="com.neuedu.shop.pojo.Category">
            <id column="cid" property="id" />
            <result column="cname" property="name" />
            <result column="cdesc" property="desc" />
            <result column="cpid" property="pid" />
            <result column="cleaf" property="leaf" />
            <result column="cgrade" property="grade" />
        </association>
    </resultMap>

    <delete id="delete" parameterType="int">
        delete from t_product where id=#{id}
    </delete>
    
    <update id="update" parameterType="com.neuedu.shop.pojo.Product">
        update
            t_product
        set
            product_name=#{name},
            product_description=#{desc},
            product_normalprice=#{normalprice},
            product_memberprice=#{memberprice},
            product_categoryid=#{categoryid}
         where
            id=#{id}
    </update>
    
    <select id="findById" parameterType="int" resultMap="findAll">
        <include refid="basesql" /> where p.id=#{id}
    </select>

    <!-- 添加新品 -->
    <insert id="insert" parameterType="Product">
        insert into t_product values(null, #{name}, #{desc}, #{normalprice}, #{memberprice}, #{imgpath}, now(), #{categoryid})
    </insert>

    <select id="findByKeywords" parameterType="string" resultMap="findAll">
        <include refid="basesql" />
         where
            p.product_name like concat('%',#{keywords},'%')
         or
            p.product_description like concat('%',#{keywords},'%')
    </select>
</mapper>
